:root {
  --ion-color-primary: #2e5de6;
  --ion-color-primary-rgb: 46, 93, 230;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2852ca;
  --ion-color-primary-tint: #4370e9;

  --ion-color-medium: #929b99;
  --ion-color-medium-rgb: 146, 155, 153;
  --ion-color-medium-contrast: #101313;
  --ion-color-medium-contrast-rgb: 16, 19, 19;
  --ion-color-medium-shade: #808886;
  --ion-color-medium-tint: #a0a8a6;

  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;
  --ion-text-color: #e6edfd;
  --ion-text-color-rgb: 230, 237, 253;

  --ion-color-step-50: #0f2270;
  --ion-color-step-100: #1a3bb0;
  --ion-color-step-150: #2e5de6;
  --ion-color-step-200: #6e92f2;

  --ion-toolbar-background: #000000;
  --ion-item-background: #1a3bb0;
}
