:root {
  --ion-color-primary: #8daaa0;
  --ion-color-primary-rgb: 141, 170, 160;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #7c968d;
  --ion-color-primary-tint: #9ab5aa;

  --ion-color-medium: #929b99;
  --ion-color-medium-rgb: 146, 155, 153;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #818987;
  --ion-color-medium-tint: #a0a9a6;

  --ion-background-color: #101313;
  --ion-background-color-rgb: 16, 19, 19;
  --ion-text-color: #edf1ef;
  --ion-text-color-rgb: 237, 241, 239;

  --ion-color-step-50: #161a19;
  --ion-color-step-100: #1c2221;
  --ion-color-step-150: #29302e;
  --ion-color-step-200: #343c39;

  --ion-toolbar-background: #121716;
  --ion-item-background: #1c2221;
}